*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-principal: #008cff;
    --color-secundario: #fff;
    --color-terciario: #f2f2f2;
    
}
::-webkit-scrollbar {display: none;}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    background: var(--color-secundario);
    display: flex;
    flex-wrap: wrap;
}
.encabezado,.encabezado2{
    position: absolute;
    height: 10vh;
    width: 100vw;
    min-height: 54px;
    max-height: 70px;
    background: var(--color-principal);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.350rem 0;
    z-index: 1999;
}
.encabezado2{
    position: relative;
    z-index: inherit;
}
.encabezado__logo{
    object-fit: cover;
    background: var(--color-secundario);
    border-radius: 7px;
    width: 10%;
    min-width: 25px;
    max-width: 35px;
    background-color: var(--color-secundario);
    cursor: pointer;
}

.encabezado__titulo{
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: calc(2em + 1vw);
    color: var(--color-secundario);
}
/* .encabezado__enlaces {
    display: flex;
    height: 100%;
    width: 80%;
    justify-content: space-around;
    align-items: center;
} */
.encabezado__enlaces {
    position: absolute; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    top: 0;
    width: 100vw;
    flex-direction: column;
    transition: clip-path .2s ease-in;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.encabezado__enlaces a {
    transition: 0.7s ease-out;
    color: #000;
    text-decoration: none;
}

.encabezado__icono {
    width: 15%;
    min-width: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    font-size: calc(1em + 1vw);
}
.encabezado__cuerpo{
    visibility: hidden;
    position: absolute;
    left: 0;
    top:0;
    background: transparent;
    width: 100vw;
    height: 100vh;
    transition: all .3s ease;
    z-index: 200;
}
.encabezado__cuerpo_fondo{
    position: fixed;
    visibility: hidden;
    top: 0;
    background:rgba(0,0,0,.6);
    width: 100vw;
    height: 100vh;
    transition: all .1s ease;
}
.encabezado__cuerpo__contenedor{
    position: fixed;
    background: var(--color-secundario);
    bottom: 0;
    width: 100vw;
    height: 88vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: all .3s ease;
    z-index: 300;
    box-shadow: 0px -4px 13px 0px rgb(0 0 0 / 46%);
    min-height: 580px;
}
.encabezado__cuerpo__menu{
    padding-top: calc(.5em + 1vw);
    width: 100%;
    background: var(--color-principal);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    padding-bottom: calc(.5em + 1vw);
    display: flex;
    z-index: 5000;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
}

.encabezado__cuerpo__icono{
    position: absolute;
    border-radius: 50%;
    background: #000;
    color: var(--color-secundario);
    left: 5vw;
    font-size: calc(1em + 1vw);
    cursor: pointer;
    padding: 1% 1.5%;
    box-shadow: 0px 0px 5px 0 rgba(17, 29, 48, .5);
    transition: all .1s ease-out;
}
.encabezado__cuerpo__icono:hover{
    border-radius: 5px;
}
.encabezado__cuerpo__titulo{
    width: 100%;
    text-align: center;
    font-size: calc(1em + 1vw);;
}
.encabezado__cuerpo__lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    overflow-y: scroll;
}
.encabezado__cuerpo__item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    min-width: 150px;
    padding: 5% 0;
    margin: 2% 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(17, 29, 48, .5);
    transition: all .1s ease-in;
    cursor: pointer;
}
.encabezado__cuerpo__item:hover{
    box-shadow: 0px 12px 8px rgba(17, 29, 48, .5);
    transform: translateY(-5px);
    color: var(--color-principal);
}
.encabezado__cuerpo__itemicono{
    font-size: calc(2em + 1vw);
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.encabezado__cuerpo__txt {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.encabezado__cuerpo__txt p{
    width: 80%;
}
.encabezado__subenlace,.encabezado__subenlace_logo{
    background-color: var(--color-secundario);
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
    transition: all .1s ease-in;
}
.encabezado__subenlace:hover{
    transform: scale(1.09);
}
.encabezado__subenlace_logo{
    width: 5%;
    max-width: 33.7px;
    min-width: 33.22px;
    margin-left: 1%;
    
    min-height: 34px;
    display: none;
    position: relative;
    border-radius: 50%;
}
.encabezado__subenlace_logo:hover{
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(17, 29, 48, .5);
}
.link{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    font-size: calc(1em + 1vw);
}

.link__icono{
    font-size: 100%;
    min-width: 45px;
    padding-right: .5rem;
    
}
.link__escrito{
    width: 100%;
    height: 100%;
    padding: 0.625rem;
    text-align: center;
    font-size: calc(.8em + 1vw);
}
.--desactivado{
    -webkit-clip-path: circle(0% at 100% 0%);
    clip-path: circle(0% at 100% 0%);
}

.--activado{
    -webkit-clip-path: circle(0% at 100% 0%);
    clip-path: circle(300% at 100% 0%);
}

.lista{
    transform: none;
    text-decoration: none;
    list-style: none;
}
.encabezado__subenlace_logo > .lista__item{
    float: left;
}
.encabezado__subenlace_logo > .lista__item a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
}

/*------------------- Inicio del Main --------------------------*/
.avisos{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.avisos__titulo{
    margin-top: .5em;
}
.carrusel{
    width: 100%;
    height: 40vw;
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 1em 0;
}
.carrusel__imagen{
    box-shadow: 0px 4px 8px rgba(17, 29, 48, .5);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 30vw;
    transition: transform .3s ease-in;
    z-index: 100;
    border-radius: 10px;
    cursor: pointer;
}


.carrusel__imagen:nth-child(3){
    opacity: 1;
    transform: perspective(200px) translateX(115%) translateZ(-50px);
    z-index: 4;
}
.carrusel__imagen:nth-child(1){
    opacity: 1;
    transform: perspective(200px) translateX(-115%) translateZ(-50px);
    z-index: 4;
}

/*seccion noticias*/
.noticias{
    background: var(--color-secundario);
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.noticias__contenedor{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em 0;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 2px;
    margin: 0.625rem 0;
    cursor: pointer;
    transition-property: opacity,transform;
    transition-duration: .1s;
    transition-timing-function: ease-in;
    box-shadow: 0px 0px 5px 0 rgba(52, 73, 94, 0.849);
}
.tarjeta:hover{
    opacity: 1.5;
    transform: perspective(200px) scale(1.01,1.01);
}
.tarjeta__imagen{
    width: 100%;
    height: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    object-fit: cover;
}
.tarjeta__content{
    width: 100%;
    height: 50%;
    position: relative;
}
.tarjeta__fecha{
    position: absolute;
    bottom: 0;
    color: var(--color-secundario);
    padding: 5px;
    opacity: .9;
    background: var(--color-principal);
}
.tarjeta__informacion{
    height: 50%;
    border: 2px;
    font-size: 80%;
    overflow: hidden;
    margin: 2% 4% 2% 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.tarjeta__titulo{
    width: 100%;
    /* margin: 10px 0; */
    text-align: center;
    font-weight: 700;
    font-size: calc(5em+3vw);
}
.tarjeta__texto{
    width: 100%;
    text-align: justify;
    font-size: calc(3em+3vw);
}
.tarjeta__boton{
    width: 50%;
    text-decoration: none;
    color: var(--color-secundario);
    background-color: var(--color-principal);
    padding: 10px 0px;
    text-align: center;
}

/*Footer*/
.pie{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: var(--color-principal);
    color: var(--color-secundario);
    padding-top: 0.625rem;
}

.pie__social{
    display: flex;
    justify-content: space-around;
}
.pie__social a{
    width: 38px;
    height: 38px;
    color: var(--color-secundario);
    border: solid 1px  var(--color-secundario);
    border-radius: 50%;
    line-height: 2.25rem;
    cursor: pointer;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    text-align: center;
    text-decoration: none;
}

.pie__social a:first-child:hover{
    background: blue;
    border: solid 0px  var(--color-secundario);
}

footer{
    width: 100%;
    background: #008cff;
    color: white; 
    
}

.pie1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.pie1__cuerpo{
    display: flex;
    justify-content: space-between;
}

.pie1__cuerpo__nosotros{
    margin: 40px 0;
    max-width: 400px;
}

.pie1__cuerpo__nosotros h1{
    font-size: 22px;
}

.pie1__cuerpo__nosotros p{
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    text-align: justify;
}

.pie1__cuerpo__redes{
    max-width: 400px;
    
}

.pie1__cuerpo__redes h1{
    font-size: 22px;
}

.pie1__cuerpo__filar{
    margin-top: 20px;
    display: flex;
    align-items: baseline;
}

.pie1__cuerpo__filar img{
    width: 36px;
    height: 36px;
}

.pie1__cuerpo__filar label{
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
}

.pie1__cuerpo__contacto{
    max-width: 400px;
}

.pie1__cuerpo__contacto h1{
    font-size: 20px;
}

.pie1__cuerpo__fila{
    margin-top: 20px;
    display: flex;
}

.pie1__cuerpo__fila img{
    width: 36px;
    height: 36px;
}

.pie1__cuerpo__fila label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #025aa1;
    display: flex;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #fff;
    text-align: center;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #fff;
}
@media screen and (min-width:700px){
    .encabezado__enlaces {
        position: relative; 
        height: 100%;
        width: 95%;
        flex-direction: row;
        background: none;    
    }
    .encabezado__subenlace{
        background-color: var(--color-secundario);
        width: 60%;
        height: 80%;
    }
    .encabezado__subenlace{
        border-radius: 5px;
        width: 15%;
    }
    .link__escrito{
        font-size: 0.45em;
    }
    .link__icono{
        display: none;
    }
    .--desactivado{
        -webkit-clip-path: none;
        clip-path: none;
    }
    .encabezado__titulo{
        display: none;
    }
    .encabezado__icono{
        display: none;
    }

    .tarjeta{
        width: 45%;
    }
    .pie{
        flex-direction: row-reverse;
    }
    .pie__section{
        width: 40%;
    }
    .encabezado__cuerpo{
        position: fixed;
    }
    .encabezado__cuerpo__contenedor{
        width: 80vw;
        height: 80vh;
        border-radius: 25px;
        left: 10%;
        right: 10%;
        top: 10%;
        bottom: 10%;
        min-height: 0;
    }
    
    .encabezado__cuerpo__icono{
        position: absolute;
        top: -2.5%;
        left: -2%;
        border-radius: 50%;
        background: #000;
    }
    .encabezado__cuerpo__icono:hover{
        border-radius: 5px;
        transform: scale(1.1);
    }
    .encabezado__cuerpo__lista{
        max-height: 80%;
    }
    .encabezado__cuerpo__item{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        min-width: 150px;
        padding: 2% 0;
        margin: 2% 3px;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(17, 29, 48, .5);
        transition: all .1s ease-in;
        cursor: pointer;
    }
    .encabezado__cuerpo__item:hover{
        box-shadow: 0px 12px 8px rgba(17, 29, 48, .5);
        transform: translateY(-5px);
        color: var(--color-principal);
    }
    .encabezado__cuerpo__itemicono{
        font-size: calc(2em + 1vw);
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }
    .encabezado__cuerpo__txt {
        width: 100%;
        text-align: center;
    }

}

@media screen and (min-width:900px){
    .tarjeta{
        width: 30%;
    }
    .carrusel{
        max-width: 1250px;
    }
    .pie__section{
        width: 30%;
    }
    
    .link__icono{
        display: inline;
    }
    .encabezado__cuerpo__icono{
        padding: .75% 1%;
        font-size: 1.25rem;
    }
    .encabezado__cuerpo__icono{
        top: -2%;
        left: -1%;
    }
    .pie1__cuerpo__nosotros{
        margin: 0 0;
    }
}
@media screen and (max-width: 1100px){
    .pie1__cuerpo{
        flex-wrap: wrap;
    }
    .pie1__cuerpo__nosotros{
        max-width: 100%;
    }
    .pie1__cuerpo__redes,
    .pie1__cuerpo__contacto{
        margin-top: 40px;
    }
}
