*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.escolar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.escolar .seccion__full:nth-child(3){
    background-color: #f2f2f2;
}
.escolar h1{
    width: 100%;
    text-align: center;
}
.seccion__full{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
}
.servicios{
    width: 80%;
    margin: 50px 0;
}

.color_gris{
    background-color: #f2f2f2;
}
.contenido{
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
}
.contenido__lista{
    width: 30vw;
    margin-left:5%;
    display: flex;
    flex-wrap: wrap;
}

.contenido__item{
    width: 100vw;
}
.contenido__imagen{
    width: 15vw;;
    margin-left: 10%;
}

@media screen and (max-width:900px){
    .servicios{
        width: 100%;
    }
    .contenido__lista{
        width: 40vw;
        margin-left:10%;
    }
    .contenido__imagen{
        width: 25vw;
    }
}
@media screen and (max-width:600px){
    .contenido{
        flex-wrap: wrap;
    }
}